#
# exclude common hidden file types
#
.*
*.swp
*._*
*.unison*

#
# Exclude built / temporary flis
#
bin/*
html-docs/*

test-files/tmp/*
test-files/junit-html/*
test-files/junit-reports/*
test-files/libs/SimpleDB-Dev/data/*
test-files/libs/SimpleDB-Dev/*.pyc


debug.txt

*.log

# XCode workspace
**/xcuserdata/*

# Test-files generated stuff to ignore
test-files/test-specific/htmlGenerator/**/*.pdf
test-files/test-specific/htmlGenerator/**/*Html.html
test-files/test-specific/htmlGenerator/generatedFiles/*

# sample-WEB-INF
sample-WEB-INF/**/tmp/**/*