#signaturePad {
	z-index:1000; 
	
	width:100%;
	height:100%;
	
	position:fixed; 
	top:0px; 
	left:0px; 
	right: 0px; 
	bottom: 0px;
	background:rgba(200,200,200,0.8);
}

#signatureWhiteBox {
	background:white;
	padding:30px;
	box-shadow: 0px 0px 20px #888888;
	
	position:fixed; 
	
	top:40%; 
	
	margin-top:-240px;
	
	display: inline-block;
	left: 30px;
	right: 30px;
	
	text-align:center;
	margin-bottom:auto;
}

#signaturePadLine {
	width:100%;
}

.pfw_signatureBox {
	padding:20px;
	margin:40px;
	
	box-shadow: 0px 0px 20px #888888;
	border: 1px solid #888888;
}

.pfw_signatureBox .pfi_signatureDisplay {
	border-bottom: 1px solid #888888;
}

html,
body {
	padding:0;
	margin:0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

div, h3 {
	padding:0;
	margin:0;
}

.pf_webPageOuterBox {
	width:100%;
	background:#CCCCCC;
	padding:0;
	margin:0;
	display:inline-block;
}

.pf_webPageBox {
	width:700px;
	padding:60px;
	margin:auto;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	background:#FFFFFF;
	box-shadow: 0px 0px 15px #555555;
}

.pf_label {
	width:130px;
	display:inline-block;
	margin:0px;
	border-right: 1px solid #CCCCCC;
	padding:4px;
}

.pfl_sectionTitle {
	background: #2989D8;
	color:#FFFFFF;
	
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0;
	padding-right:0;
	
	font-size:14px;
	display:block;
	
	width: 100%;
	text-indent: 20px;
}

.pfw_section {
	border: 1px solid #CCCCCC;
}

.pfw_section .pf_div {
	margin-bottom:-1px;
	border-bottom: 1px solid #CCCCCC;
}

.pfi_display {
	display:inline-block;
	font-size:12px;
	padding:4px;
}

.pfw_fullLabel .pf_label {
	width:100%;
	border-right:none;
	
}

.pfw_tableBox {
	display:table;
    width:100%;
    max-width:100%;
}

.pfw_subSectionLabel {
	display:table-row;
    width:100%;
    max-width:100%;
}


.pfl_subSectionLabel {
	display:table-cell;
	border-bottom:0px !important;
	max-width:130px;
	min-width:130px;
} 


.pfc_subSectionLabel {
	display:table-cell;
	width:100%;
	border-bottom:0px !important;
	
}

.pfw_subSectionLabel .pf_header {
	width:130px;
	border-right: 1px solid #CCCCCC;
	font-weight:normal;
}
