/***********************************
**
** meyerweb.com CSS reset
** http://meyerweb.com/eric/tools/css/reset/ 
**
***********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************
**
**  Custom global resets
**
**********************************************************/

html,
body {
	padding:0;
	margin:0;
	height: 100%;
	width: 100%;
}

/**********************************************************
**
**  Page number
**
**********************************************************/

@page {
	@bottom-center {
		content: "page " counter(page) " of " counter(pages);
		font-size:12px;	
	}
}

/**********************************************************
**
**  Outerpage simulator
**
**********************************************************/

.pf_webPageOuterBox {
	width:100%;
	background:#CCCCCC;
	padding:0;
	margin:0;
	display:inline-block;
}

.pf_webPageBox {
	width:700px;
	padding:60px;
	margin:auto;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	background:#FFFFFF;
	box-shadow: 0px 0px 15px #555555;
}

/**********************************************************
**
**  Standard section handling
**
**********************************************************/

/* Full section border */
.pfw_section {
	margin-bottom:25px;
	page-break-after: always;
}

/* allow bottom and top border of child nodes to overlap */
.pfl_sectionTitle1, .pfl_sectionTitle2, .pfl_sectionTitle3,
.pfc_verticalTable_twoColumn tr {
	page-break-before:auto;
	page-break-inside:avoid;
}

/* data display as a block */
.pfi_display {
	display:inline-block;
	padding:4px;
}

.pdf_breakBefore {
	page-break-before:always;
}

.pdf_breakAfter {
	page-break-after:always;
}

/**********************************************************
**
**  Left collumn label
**
**********************************************************/

/* left label default */
.pf_label {
	width:130px;
	display:inline-block;
	margin:0px;
	padding:4px;
}

/* Full length labeling */
.pfw_fullLabel .pf_label {
	width:100%;
	border-right:none;
}

/*long labeling*/
.pfw_mediumLabel .pf_label {
	width:75%;
	
}

/**********************************************************
**
**  Section Title handling
**
**********************************************************/

.pfl_sectionTitle, 
.pfl_sectionTitle2, 
.pfl_sectionTitle3 {
	/* Shared styling */
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0;
	padding-right:0;
	
	display:block;
	
	width: 100%;
	text-indent: 20px;
	font-weight: bold;
	color:#FFFFFF;
}

.pfw_sectionTitle2_labelTable .pfc_sectionTitle2_labelTable th {
	font-weight: bold;
	
	padding-left:0;
	padding-right:0;
	padding-top:10px;
	padding-bottom:10px;
	
	text-align:center;
	text-indent: 0;
	
	color:#FFFFFF;
}

.pfw_sectionTitle2_labelTable .pfc_sectionTitle2_labelTable .pfc_col_0 {
	color:#FFFFFF;
	text-align:left;
	text-indent: 20px;
}

.pfc_smallLabelTable .pfc_col_0 {
	width:138px;
}

.pfc_mediumLabelTable .pfc_col_0 {
	width:258px;
}

.pfc_longLabelTable .pfc_col_0 {
	width:408px;
}

/**********************************************************
**
**  Background Color handling
**
**********************************************************/

.pfl_sectionTitle {
	background: #1a56a7;
}

.pfl_sectionTitle2, .sectionTitle2_Color {
	background: #8a61a7;
}

.pfl_sectionTitle3 {
	background: #666666;
}

.pfw_verticalTable th, .pfl_subSectionLabel, .pfw_table th {
	background: #EFEAEA;
}

.pfw_sectionTitle2_labelTable, .pfw_sectionTitle2_labelTable table, 
.pfw_sectionTitle2_labelTable th, .pfw_sectionTitle2_labelTable tr {
	border-color: #EFEAEA;
}

.pfw_sectionTitle2_labelTable, 
.pfw_sectionTitle2_labelTable .pfc_sectionTitle2_labelTable th {
	background: #8a61a7;
}

/**********************************************************
**
**  Font handling
**
**********************************************************/

html,
body {
	font-size:14px;	
}

.pfl_sectionTitle, 
.pfl_sectionTitle2, 
.pfl_sectionTitle3 {
	font-size:14px;
}

.pfw_verticalTable th {
	font-size:14px;
}

.pfc_subSectionLabel th, 
.pfc_subSectionLabel td, 
.pfc_subSectionLabel thead, 
.pfc_subSectionLabel tbody, 
.pfc_subSectionLabel tr {
	font-size: 12px;
	line-height: 14px;
}

.pfi_display {
	font-size: 12px;
	line-height: 14px;
}


/**********************************************************
**
**  Input mode overwrite
**
**********************************************************/
select, input {
	width:100%;
}

/**********************************************************
**
**  Common items, eg: checkbox
**
**********************************************************/

/*
** Text area box handling
*/
.textAreaBox {
	width:100%;
	min-height:60px;
}

.textAreaBox textarea {
	width:100%;
	min-height:60px;
}

/*
** Display Checkbox
*/

.pfi_inputCheckbox {
	margin-bottom:5px;
	margin-top:5px;
	display:inline-block;
	position: relative;
	
}

.pfc_inputCheckboxWrap .pfi_inputCheckbox {
	width:10px;
}

.pf_displayCheckbox {
	width: 5px;
	height: 5px;
	border: 2px solid #000000;
	
	content: none;
	margin-left: 5px;
	margin-right: -14px;
	
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -3px;
}


.pf_displayCheckbox_selected {
	background-color:#333;
}

.pf_displayCheckbox_text {
	display:inline-block;
	position:relative;
	padding-left: 20px;
	padding-right:10px;
}

/*
** Sub section handling
*/

/* Treat the whole sub section segment as 2 collumn table in CSS */
.pfw_subSectionLabel {
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	
	min-width:100%;
	width:100%;
	max-width:100%;
}

/* Subsection label is left collumn */
.pfl_subSectionLabel {
	display:table-cell;
	
	max-width:131px;
	width:131px;
	min-width:131px;
} 


.pfw_subSectionLabel .pf_header {
	width:130px;
	font-weight:normal;
}

/* Subsection child box is right collumn */
.pfw_subSectionLabel .pfc_subSectionLabel {
	display:table-cell;
	width:100%;
}

/*
** Vertical Table Column handling
*/

.pfw_verticalTable table {
	border-collapse:collapse;
	border-spacing:0;
}

.pfw_verticalTable th {
	min-width:130px;
	width:130px;
	max-width:130px;
	
	margin:0px;
	padding:4px;
	font-weight:normal;
	text-align:left;
}

.pfw_verticalTable td {
	margin:0px;
	padding:0px;
	text-align:left;
}

.pfw_verticalTable .pf_div {
	margin-bottom:-1px;
	border-bottom: 0px;
}

.pfw_verticalTable_twoColumn td {
	width:50%;
}

.pfw_verticalTable_oneColumn td {
	width:100%;
}

/*
** Vertical Table Column handling, inside Subsection
*/

.pfc_subSectionLabel table {
	width:100%;
}

.pfc_subSectionLabel th, 
.pfc_subSectionLabel td, 
.pfc_subSectionLabel thead, 
.pfc_subSectionLabel tbody, 
.pfc_subSectionLabel tr {
	margin:0;
}

.pfc_subSectionLabel th {
	padding-left:4px;
}

/*
** Horizontal Table Column handling
*/
.pfw_table table {
	width:100%;
}

.pfw_table th {
	margin:0px;
	padding:4px;
	font-weight:normal;
	text-align:left;
}

/*
** Long label table header handling
*/
.longLabel th {
	min-width:400px;
	width:400px;
	max-width:400px;
}

.midLabel th {
	min-width:250px;
	width:250px;
	max-width:250px;
}

/**********************************************************
**
**  Border handling
**
**********************************************************/

/* To ensure, right border inside PDF print */
.pfw_section {
	margin-right:3px;
}

/* Box segments */
.pfl_sectionTitle, 
.pfl_sectionTitle2, 
.pfl_sectionTitle3,
.divBorderBox {
	border: 1px solid #CCCCCC;
	margin-right: -1px;
	margin-bottom: -1px;
}


.pfw_verticalTable, .pfw_subSectionLabel, .pfw_table {
	border: 1px solid #CCCCCC;
	margin-right: -1px;
	margin-bottom: -1px;
}

.pfw_verticalTable td, .pfw_table td, .pfw_table th {
	border-left: 1px solid #CCCCCC;
}

/* Top and bottom core boreders */
.pfw_subSectionLabel, 
.pfw_verticalTable th, 
.pfw_verticalTable td,
.pfw_table th, 
.pfw_table td {
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	margin-bottom:-1px;
}

/* Ensuring border overlay, whites out */
.pfw_verticalTable td {
}

.pfl_subSectionLabel, .pfc_subSectionLabel {
	border-right: 1px solid #CCCCCC;
}

/* Subsection table, double border removal */
.pfc_subSectionLabel .pfw_verticalTable {
	border:0;
	margin-right:-2px;
}

.pfc_subSectionLabel .pfw_verticalTable, .pfw_table {
	border-left:  1px solid #CCCCCC;
	margin-left:0;
}

.pfc_subSectionLabel .pfw_verticalTable th, 
.pfc_subSectionLabel .pfw_verticalTable td {
	border-top: 0px;
	margin-top:-1px;
}

/* SubSection label ovewrite */
.pfl_subSectionLongLabel {
	width:400px;
}

/**********************************************************
**
**  Utility specific CSS (all !important)
**
**********************************************************/

.marginBottom_40 {
	margin-bottom:40px !important;
}

.marginLeft_20 {
	margin-left:20px !important;
}

.marginTop_10 {
	margin-top:10px !important;
}

.marginTop_5 {
	margin-top:5px !important;
}

.marginBottom_5 {
	margin-bottom:5px !important;
}

.br {
	break-before:always !important;
	break-after:always !important;
}

.noTopBottomBorder {
	border-top:0 !important;
	border-bottom:0 !important;
}

.topBorder {
	margin-top: -1px !important;
	border-top: 1px solid #CCCCCC !important;
}

.bottomBorder {
	margin-bottom: -1px !important;
	border-bottom: 1px solid #CCCCCC !important;
}

/* Needed due to slight overlay with sectiontitles */
.whiteBackground {
	background:#FFFFFF !Important;
}

.rightPadding20 {
	padding-right:20px !important;
}

.bottomPadding20 {
	padding-bottom:20px !important;
}

.halfCheckbox .pfc_inputCheckboxWrap_display {
	display:inline-block;
	width:49%;
}

/**********************************************************
**
**  Front and back page image
**
**********************************************************/
.coverPageSection img,
.backPageSection img,
.pfw_coverPageSection img,
.pfw_backPageSection img{
	width: 100% !important; /* approx: 750px */
	height:950px;
}

/**********************************************************
**
**  Important Notice Specific Section CSS
**
**********************************************************/

/* Disable borders in section */
.importantNoticeSection, 
.importantNoticeSection .pf_label, 
.importantNoticeSection .pf_div {
	border:none;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:none;
}

.importantNoticeSection .pfl_header {
	text-align:center;
	margin-top:40px;
}

.importantNoticeSection .pfl_mainHeader {
	font-size:24px;
	margin-bottom:10px;
}

.importantNoticeSection .pf_displayCheckboxSet, 
.importantNoticeSection .pf_checkboxSet {
	margin-top:25px;
	margin-bottom:25px;
}

.importantNoticeSection .pf_displayCheckboxSet .pfc_inputCheckboxWrap_display,
.importantNoticeSection .pfc_inputCheckboxWrap {
	display:inline-block;
	width:44%;
	margin-left:5%;
}

/* Bold Full length*/
.importantNoticeSection .pfw_header .pf_label {
	width:100%;
	border-right:0;
	font-weight: bold;
}

.importantNoticeSection img {
	top: 20px;
	margin-bottom: -10px;
	position: relative;
	left: 50%;
	width: 500px;
	margin-left: -250px;
}

/**********************************************************
**
**  Section 1: About Myself
**
**********************************************************/

.section1 .pff_childX {
	width:50%;
	display:inline-block;
}

.fatcaLine, .fatcaLine2, .fatcaLine3, .fatcaLine4 {
	border-top:0 !important;
	border-bottom:0 !important;
	padding:0px;
	margin-top:-5px;
	padding-left:10px;
}

.fatcaLine2 {
	padding-left:33px;
}

.fatcaLine3 {
	padding-left:52px;
}

.fatcaLine4 {
	padding-left:58px;
	padding-bottom:10px;
}


/**********************************************************
**
**  SECTION 2: Accredited Investor (AI) and Overseas Investor (OI)
**
**********************************************************/

/**********************************************************
**
**  SECTION 11: My planning priorities
**
**********************************************************/

.section11 td div{
	display:inline-block;
}

.section11 .rankAndPlan .pf_displayCheckboxSet {
	display:inline-block;
	width:80px;
}

.section11 .rankAndPlan .pfi_select {
	display:inline-block;
	width:70px;
	margin-right:10px;
	margin-left:20px;
}

/**********************************************************
**
**  SECTION 13: Needs Analysis Summary
**
**********************************************************/

/* Shorten left most header column */
.section13 th.pfc_col_0 {
	min-width:60px;
	width:60px;
	max-width:60px;
	text-align:center;
	
	border-top:0px;
	border-bottom:1px solid #EFEAEA; 
}

/* Fix 2nd left most header column */
.section13 th.pfc_col_1 { 
	width:160px;
	max-width:160px;
} 

/* Top header */
.section13 thead th,
/* Protection needs */
.section13 tbody .pfc_row_5 th,
.section13 tbody .pfc_row_5 td,
/* Savings */
.section13 tbody .pfc_row_17 th,
.section13 tbody .pfc_row_17 td,
/* Others */
.section13 tbody .pfc_row_24 th,
.section13 tbody .pfc_row_24 td
{ 
	background: #8a61a7;
	color:#FFFFFF;
	border:0;
	text-align:center;
}

.section13 tbody .pfc_row_5 td {
	padding-top:5px;
}

.section13 tbody .valu,
.section13 tbody .addr,
.section13 tbody .time {
	width:33%;
	display:inline-block;
	text-align:center;  
} 

/**********************************************************
**
**  SECTION 14:  My Client Adviser's recommendations
**
**********************************************************/

/* Rec'd collumn alignment */
.section14 .pfc_col_0 {
	width:45px;
	max-width:45px;
}

/* Clients choice */
.section14 .insureTable .pfc_col_7,
.section14 .fundsTable .pfc_col_6 {
	width:45px;
	max-width:45px;
}

/* Premium mode */
.section14 .insureTable .pfc_col_6,
.section14 .fundsTable .pfc_col_5 {
	width:45px;
	max-width:45px;
}

/* Amounts */
.section14 .insureTable .pfc_col_5,
.section14 .insureTable .pfc_col_4,
.section14 .fundsTable .pfc_col_4 {
	width:80px;
	max-width:80px;
}

/* Chosen needs */
.section14 .insureTable .pfc_col_1 {
	width:110px;
	max-width:110px;
}

/* Riders */
.section14 .insureTable .pfc_col_2 {
	width:80px;
	max-width:80px;
}